<a href="https://colab.research.google.com/github/moyanke/inf1340-programmingfordatascience-fa22/blob/main/MID__Sub_YankeMo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly
df = pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx')

In [2]:
table_01 = pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 1')
table_02= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 2')
table_03= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 3')
table_04= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 4')
table_05= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 5')
table_06= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 6')
table_annex= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='ANNEX')
table_notes= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='NOTES')

##############Table_01#############

In [ ]:
table_01

In [ ]:
table_1_1 = table_01.drop(table_01.index[0:15])
table_1_1 #Drop 0-15 rows

In [ ]:
table_1_1.columns

In [20]:
table_1_1.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)','1990 Migrant Stock Both Sex',
                  '1995 Migrant Stock Both Sex','2000 Migrant Stock Both Sex','2005 Migrant Stock Both Sex',
                  '2010 Migrant Stock Both Sex','2015 Migrant Stock Both Sex','1990 Migrant Stock Male',
                  '1995 Migrant Stock Male','2000 Migrant Stock Male','2005 Migrant Stock Male','2010 Migrant Stock Male',
                  '2015 Migrant Stock Male','1990 Migrant Stock Female','1995 Migrant Stock Female','2000 Migrant Stock Female',
                  '2005 Migrant Stock Female','2010 Migrant Stock Female',
                  '2015 Migrant Stock Female']

In [ ]:
table_1_1 #rename the columns

In [23]:
tidy_table_01 = table_1_1.melt(id_vars=["Order","Name of Country","Notes","Country Code","Type of Data(a)"],var_name="Year",value_name="Migrant Stock")

In [ ]:
tidy_table_01

In [ ]:
tidy_table_01=(tidy_table_01.assign(year = lambda x: x.Year.str[:4].astype(str), Gender = lambda x: x.Year.str[18:].astype(str)).drop("Year",axis=1))
tidy_table_01.sort_values(by ='Order').reset_index().drop(columns = 'index') #Separate the Year cloumns into year, gemder, migrant stock

In [ ]:
#Split the data in different table, start fromn row 1590, tidy_table_1_Both_sexes = Migrant Stock for Both Sexes
split_point = 1590
print(split_point)
tidy_table_01_Both_sexes = tidy_table_01.iloc[:split_point]
tidy_table_01_Both_sexes

In [ ]:
tidy_table_01_Both_sexes.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)',"Migrant Stock for Both Sexes","year","Gender"]
tidy_table_1_Both_sexes = tidy_table_01_Both_sexes.drop("Gender",axis=1)
tidy_table_1_Both_sexes

In [ ]:
table1_Bothsexes = tidy_table_1_Both_sexes.reset_index().groupby(['Order','Name of Country','Country Code','year'])['Migrant Stock for Both Sexes'].aggregate('first').unstack()
table1_Bothsexes

In [ ]:
table01_Continent_or_region_BothSexes = table1_Bothsexes.loc[[1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,106,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], :]
table01_Continent_or_region_BothSexes

In [ ]:
clean_table1_Bothsexes = table1_Bothsexes.drop([1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,106,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], inplace=False)
clean_table1_Bothsexes

In [ ]:
missing_val = [".."]
missing = clean_table1_Bothsexes.isin(missing_val)
clean_table1_Bothsexes.mask(missing, "Missing_value").head(50)

In [ ]:
#Split the data in different table, start fromn row 1590, tidy_table_1_male = Migrant Stock for Male
split_point = 1590
split_male_female = 3180
tidy_table_01_Male = tidy_table_01.iloc[split_point:split_male_female]
tidy_table_01_Male

In [ ]:
tidy_table_01_Male.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)',"Migrant Stock for Male","year","Gender"]
tidy_table_1_Male = tidy_table_01_Male.drop("Gender",axis=1)
tidy_table_1_Male

In [ ]:
table1_male = tidy_table_1_Male.reset_index().groupby(['Order','Name of Country','Country Code','year'])['Migrant Stock for Male'].aggregate('first').unstack()
table1_male

In [ ]:
table01_Continent_or_region_male = table1_male.loc[[1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,106,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], :]
table01_Continent_or_region_male

In [ ]:
clean_table1_male = table1_male.drop([1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,106,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], inplace=False)
clean_table1_male

In [ ]:
missing_val = [".."]
missing = clean_table1_male.isin(missing_val)
clean_table1_male.mask(missing, "Missing_value").head(50)

In [ ]:
#Split the data in different table, start fromn row 3180, tidy_table_1_female = Migrant Stock for female
split_male_female = 3180
tidy_table_1_female = tidy_table_01.iloc[split_male_female:]
tidy_table_1_female

In [ ]:
tidy_table_1_female.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)',"Migrant Stock for female","year","Gender"]
tidy_table_1_female = tidy_table_1_female.drop("Gender",axis=1)
tidy_table_1_female

In [ ]:
table1_female = tidy_table_1_female.reset_index().groupby(['Order','Name of Country','Country Code','year'])['Migrant Stock for female'].aggregate('first').unstack()
table1_female

In [ ]:
table01_Continent_or_region_female = table1_female.loc[[1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,106,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], :]
table01_Continent_or_region_female

In [ ]:
clean_table1_female = table1_female.drop([1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,106,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], inplace=False)
clean_table1_female

In [ ]:
missing_val = [".."]
missing = clean_table1_female.isin(missing_val)
clean_table1_female.mask(missing, "Missing_value").head(50)

##########Table_02##########

In [ ]:
table_02

In [ ]:
table_2_1 = table_02.drop(table_02.index[0:15])
table_2_1 #Drop 0-15 rows

In [ ]:
table_2_1.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21'],
      dtype='object')

In [55]:
table_2_1.columns=['Order','Name of Country','Notes','Country Code','1990 Total Population Both Sex',
                  '1995 Total Population Both Sex','2000 Total Population Both Sex','2005 Total Population Both Sex',
                  '2010 Total Population Both Sex','2015 Total Population Both Sex','1990 Total Population Male',
                  '1995 Total Population Male','2000 Total Population Male','2005 Total Populatio Male','2010 Total Population Male',
                  '2015 Total Population Male','1990 Total Population Female','1995 Total Population Female','2000 Total Population Female',
                  '2005 Total Population Female','2010 Total Population Female',
                  '2015 Total Population Female']

In [ ]:
table_2_1

In [56]:
tidy_table_02 = table_2_1.melt(id_vars=["Order","Name of Country","Notes","Country Code"],var_name="Year",value_name="Total Population")

In [ ]:
tidy_table_02

In [ ]:
tidy_table_02=(tidy_table_02.assign(year = lambda x: x.Year.str[:4].astype(str), Gender = lambda x: x.Year.str[22:].astype(str)).drop("Year",axis=1))
tidy_table_02.sort_values(by ='Order').reset_index().drop(columns = 'index') #Separate the Year cloumns into year, gemder, migrant stock #Separate the Year cloumns into year, gemder, total population

In [ ]:
#Split the data in different table, start fromn row 1590, tidy_table_2_Both_sexes = Migrant Stock for Both Sexes
split_point = 1590
print(split_point)
tidy_table_02_Both_sexes = tidy_table_02.iloc[:split_point]
tidy_table_02_Both_sexes

In [ ]:
tidy_table_02_Both_sexes.columns=['Order','Name of Country','Notes','Country Code','Total Population for Both Sexes in Thousands','year','Gender']
tidy_table_2_Both_sexes = tidy_table_02_Both_sexes.drop("Gender",axis=1)
tidy_table_2_Both_sexes

In [60]:
table2_Bothsexes = tidy_table_2_Both_sexes.reset_index().groupby(['Order','Name of Country','Country Code','year'])['Total Population for Both Sexes in Thousands'].aggregate('first').unstack()

In [ ]:
table02_Continent_or_region_BothSexes = table2_Bothsexes.loc[[1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,106,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], :]
table02_Continent_or_region_BothSexes

In [ ]:
clean_table2_Bothsexes = table2_Bothsexes.drop([1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,106,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], inplace=False)
clean_table2_Bothsexes

In [ ]:
missing_val = [".."]
missing = clean_table2_Bothsexes.isin(missing_val)
clean_table2_Bothsexes.mask(missing, "Missing_value").head(50)

In [ ]:
#Split the data in different table, start fromn row 1590, tidy_table_2_male = Migrant Stock for Male
split_point = 1590
split_male_female = 3180
tidy_table_02_Male = tidy_table_02.iloc[split_point:split_male_female]
tidy_table_02_Male

In [ ]:
tidy_table_02_Male.columns=['Order','Name of Country','Notes','Country Code',"Total Population for Male in Thousands","year","Gender"]
tidy_table_2_Male = tidy_table_02_Male.drop("Gender",axis=1)
tidy_table_2_Male

In [66]:
table2_male=tidy_table_2_Male.reset_index().groupby(['Order','Name of Country','Country Code','year'])['Total Population for Male in Thousands'].aggregate('first').unstack()

In [ ]:
table02_Continent_or_region_male = table2_male.loc[[1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,106,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], :]
table02_Continent_or_region_male

In [ ]:
clean_table2_male = table2_male.drop([1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,106,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], inplace=False)
clean_table2_male

In [ ]:
missing_val = [".."]
missing = clean_table2_male.isin(missing_val)
clean_table2_male.mask(missing, "Missing_value").head(50)

In [ ]:
#Split the data in different table, start fromn row 3180, tidy_table_2_female = Migrant Stock for female
split_male_female = 3180
tidy_table_2_female = tidy_table_02.iloc[split_male_female:]
tidy_table_2_female

In [ ]:
tidy_table_2_female.columns=['Order','Name of Country','Notes','Country Code',"Total Population for female in Thousands","year","Gender"]
tidy_table_2_female = tidy_table_2_female.drop("Gender",axis=1)
tidy_table_2_female

In [72]:
table2_female = tidy_table_2_female.reset_index().groupby(['Order','Name of Country','Country Code','year'])['Total Population for female in Thousands'].aggregate('first').unstack()

In [ ]:
table02_Continent_or_region_female = table2_female.loc[[1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,106,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], :]
table02_Continent_or_region_female

In [ ]:
clean_table2_female = table2_female.drop([1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,106,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], inplace=False)
clean_table2_female

In [ ]:

missing_val = [".."]
missing = clean_table2_female.isin(missing_val)
clean_table2_female.mask(missing, "Missing_value").head(50)

In [ ]:
#write up of what violation you find, five page at least with picture. 
#use table_01.set_index("Name of area", inpplace = True)把name of area 变成中心指标

##########Table_03##########

In [ ]:
table_03

In [ ]:
table_3_1 = table_03.drop(table_03.index[0:15])
table_3_1 #Drop 0-15 rows

In [77]:
table_3_1.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)','1990 Migrant Stock Percentage for Both Sex',
                  '1995 Migrant Stock Percentage for Both Sex','2000 Migrant Stock Percentage for Both Sex','2005 Migrant Stock Percentage for Both Sex',
                  '2010 Migrant Stock Percentage for Both Sex','2015 Migrant Stock Percentage for Both Sex','1990 Migrant Stock Percentage for Male',
                  '1995 Migrant Stock Percentage for Male','2000 Migrant Stock Percentage for Male','2005 Migrant Stock Percentage for Male','2010 Migrant Stock Percentage for Male',
                  '2015 Migrant Stock Percentage for Male','1990 Migrant Stock Percentage for Female','1995 Migrant Stock Percentage for Female','2000 Migrant Stock Percentage for Female',
                  '2005 Migrant Stock Percentage for Female','2010 Migrant Stock Percentage for Female',
                  '2015 Migrant Stock Percentage for Female']

In [ ]:
table_3_1

In [78]:
tidy_table_03 = table_3_1.melt(id_vars=["Order","Name of Country","Notes","Country Code","Type of Data(a)"],var_name="Years",value_name="International Migrant Stock as Percentage of Total Population")

In [ ]:
tidy_table_03

In [ ]:
tidy_table_03=(tidy_table_03.assign(year = lambda x: x.Years.str[:4].astype(str), Gender = lambda x: x.Years.str[33:].astype(str)).drop("Years",axis=1))
tidy_table_03.sort_values(by ='Order').reset_index().drop(columns = 'index') #Separate the Year cloumns into year, gemder, migrant stock

In [ ]:
#Split the data in different table, start fromn row 1590, tidy_table_3_Both_sexes = Migrant Stock for Both Sexes
split_point = 1590
print(split_point)
tidy_table_03_Both_sexes = tidy_table_03.iloc[:split_point]
tidy_table_03_Both_sexes

In [ ]:
tidy_table_03_Both_sexes.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)',"International Migrant Stock as Percentage of Total Population Both Sexes","year","Gender"]
tidy_table_3_Both_sexes = tidy_table_03_Both_sexes.drop("Gender",axis=1)
tidy_table_3_Both_sexes

In [82]:
table3_Bothsexes=tidy_table_3_Both_sexes.reset_index().groupby(['Order','Name of Country','Country Code','year'])['International Migrant Stock as Percentage of Total Population Both Sexes'].aggregate('first').unstack()

In [ ]:
table03_Continent_or_region_BothSexes = table3_Bothsexes.loc[[1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,106,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], :]
table03_Continent_or_region_BothSexes

In [ ]:
clean_table3_Bothsexes = table3_Bothsexes.drop([1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,106,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], inplace=False)
clean_table3_Bothsexes

In [ ]:
missing_val = [".."]
missing = clean_table3_Bothsexes.isin(missing_val)
clean_table3_Bothsexes.mask(missing, "Missing_value").head(50)

In [ ]:
#Split the data in different table, start fromn row 1590, tidy_table_3_male = Migrant Stock for Male
split_point = 1590
split_male_female = 3180
tidy_table_03_Male = tidy_table_03.iloc[split_point:split_male_female]
tidy_table_03_Male

In [ ]:
tidy_table_03_Male.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)',"International Migrant Stock as Percentage of Total Population for Male","year","Gender"]
tidy_table_3_Male = tidy_table_03_Male.drop("Gender",axis=1)
tidy_table_3_Male

In [ ]:
table3_male=tidy_table_3_Male.reset_index().groupby(['Order','Name of Country','Country Code','year'])['International Migrant Stock as Percentage of Total Population for Male'].aggregate('first').unstack()

In [ ]:
table03_Continent_or_region_male = table3_male.loc[[1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,106,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], :]
table03_Continent_or_region_male

In [ ]:
clean_table3_male = table3_male.drop([1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,106,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], inplace=False)
clean_table3_male

In [ ]:
missing_val = [".."]
missing = clean_table3_male.isin(missing_val)
clean_table3_male.mask(missing, "Missing_value").head(50)

In [ ]:
#Split the data in different table, start fromn row 3180, tidy_table_1_female = Migrant Stock for female
split_male_female = 3180
tidy_table_3_female = tidy_table_03.iloc[split_male_female:]
tidy_table_3_female

In [ ]:
tidy_table_3_female.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)',"International Migrant Stock as Percentage of Total Population for female","year","Gender"]
tidy_table_3_female = tidy_table_3_female.drop("Gender",axis=1)
tidy_table_3_female

In [ ]:
table3_female = tidy_table_3_female.reset_index().groupby(['Order','Name of Country','Country Code','year'])['International Migrant Stock as Percentage of Total Population for female'].aggregate('first').unstack()

In [ ]:
table03_Continent_or_region_female = table3_female.loc[[1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,106,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], :]
table03_Continent_or_region_female

In [ ]:
clean_table3_female = table3_female.drop([1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,106,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], inplace=False)
clean_table3_female

In [ ]:
missing_val = [".."]
missing = clean_table3_female.isin(missing_val)
clean_table3_female.mask(missing, "Missing_value").head(50)

########Table_4##########

In [ ]:
table_04

In [ ]:
table_4_1 = table_04.drop(table_04.index[0:15])
table_4_1 #Drop 0-15 rows

In [ ]:
table_4_1.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)',
                   '1990 Female Migrants Stock Percentage Performance',
                   '1995 Female Migrants Stock Percentage Performance',
                   '2000 Female Migrants Stock Percentage Performance',
                   '2005 Female Migrants Stock Percentage Performance',
                   '2010 Female Migrants Stock Percentage Performance',
                   '2015 Female Migrants Stock Percentage Performance']

In [ ]:
tidy_table_04 = table_4_1.melt(id_vars=["Order","Name of Country","Notes","Country Code","Type of Data(a)"],var_name="Years",value_name="Female Migrants Stock Percentage Performance")

In [ ]:
tidy_table_04

In [ ]:
tidy_table_04=(tidy_table_04.assign(Year = lambda x: x.Years.str[:4].astype(str), Gender = lambda x: x.Years.str[5:11].astype(str)).drop("Years",axis=1))
tidy_table_04.sort_values(by ='Order').reset_index().drop(columns = 'index') #Separate the Year cloumns into year, gemder, migrant stock

In [ ]:
tidy_table_4_female = tidy_table_04.drop("Gender",axis=1)
tidy_table_4_female

In [ ]:
table4_female = tidy_table_4_female.reset_index().groupby(['Order','Name of Country','Country Code','Year'])['Female Migrants Stock Percentage Performance'].aggregate('first').unstack()

In [ ]:
table04_Continent_or_region_female = table4_female.loc[[1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], :]
table04_Continent_or_region_female

In [ ]:
clean_table4_female = table4_female.drop([1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,106,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], inplace=False)
clean_table4_female

In [ ]:
missing_val = [".."]
missing = clean_table4_female.isin(missing_val)
clean_table4_female.mask(missing, "Missing_value").head(50)

###########Table_5############

In [ ]:
table_05

In [ ]:
table_5_1 = table_05.drop(table_05.index[0:15])
table_5_1 #Drop 0-15 rows

In [ ]:
table_5_1.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)','1990-1995 Annual rate of change Both Sex',
                  '1995-2000 Annual rate of change Both Sex','2000-2005 Annual rate of change Both Sex',
                  '2005-2010 Annual rate of change Both Sex','2010-2015 Annual rate of change Both Sex',
                  '1990-1995 Annual rate of change Male','1995-2000 Annual rate of change Male',
                  '2000-2005 Annual rate of change Male','2005-2010 Annual rate of change Male',
                  '2010-2015 Annual rate of change Male','1990-1995 Annual rate of change Female',
                  '1995-2000 Annual rate of change Female','2000-2005 Annual rate of change Female',
                  '2005-2010 Annual rate of change Female','2010-2015 Annual rate of change Female']

In [ ]:
tidy_table_05 = table_5_1.melt(id_vars=["Order","Name of Country","Notes","Country Code","Type of Data(a)"],var_name="Years",value_name="Annual Rate of Change of Migrant Stock")

In [ ]:
tidy_table_05=(tidy_table_05.assign(Year_Range = lambda x: x.Years.str[:9].astype(str), Gender = lambda x: x.Years.str[31:].astype(str)).drop("Years",axis=1))
tidy_table_05.sort_values(by ='Order').reset_index().drop(columns = 'index') #Separate the Year cloumns into year, gemder, migrant stock

In [ ]:
#Splite the table with Gender
split_point = 1590
print(split_point)
tidy_table_05_Both_sexes = tidy_table_05.iloc[:split_point]
tidy_table_05_Both_sexes

In [ ]:
tidy_table_05_Both_sexes.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)',"Annual rate of change of Migrant Stock for Both Sex","year","Gender"]
tidy_table_5_Both_sexes = tidy_table_05_Both_sexes.drop("Gender",axis=1)
tidy_table_5_Both_sexes

In [ ]:
table5_Bothsexes = tidy_table_5_Both_sexes.reset_index().groupby(['Order','Name of Country','Country Code','year'])['Annual rate of change of Migrant Stock for Both Sex'].aggregate('first').unstack()

In [ ]:
table05_Continent_or_region_BothSexes = table5_Bothsexes.loc[[1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], :]
table05_Continent_or_region_BothSexes

In [ ]:
clean_table5_Bothsexes = table5_Bothsexes.drop([1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,106,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], inplace=False)
clean_table5_Bothsexes

In [ ]:
missing_val = [".."]
missing = clean_table5_Bothsexes.isin(missing_val)
clean_table5_Bothsexes.mask(missing, "Missing_value").head(50)

In [ ]:
#Splite the table with Gender
split_point = 1590
split_male_female = 2650
tidy_table_05_Male = tidy_table_05.iloc[split_point:split_male_female]
tidy_table_05_Male

In [ ]:
tidy_table_05_Male.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)',"Annual rate of change of Migrant Stock for Male","year","Gender"]
tidy_table_5_Male = tidy_table_05_Male.drop("Gender",axis=1)
tidy_table_5_Male

In [ ]:
table5_male = tidy_table_5_Male.reset_index().groupby(['Order','Name of Country','Country Code','year'])['Annual rate of change of Migrant Stock for Male'].aggregate('first').unstack()

In [ ]:
table05_Continent_or_region_male = table5_male.loc[[1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], :]
table05_Continent_or_region_male

In [ ]:
clean_table5_male = table1_male.drop([1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,106,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], inplace=False)
clean_table5_male

In [ ]:
missing_val = [".."]
missing = clean_table5_male.isin(missing_val)
clean_table5_male.mask(missing, "Missing_value").head(50)

In [ ]:
#Split the data in different table, start fromn row 3180, tidy_table_1_female = Migrant Stock for female
split_male_female = 2650
tidy_table_5_female = tidy_table_05.iloc[split_male_female:]
tidy_table_5_female

In [ ]:
tidy_table_5_female.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)',"Annual Rate of Change of Migrant Stock","Year_Range","Gender"]
tidy_table_5_female = tidy_table_5_female.drop("Gender",axis=1)
tidy_table_5_female

In [ ]:
table5_female = tidy_table_5_female.reset_index().groupby(['Order','Name of Country','Country Code','Year_Range'])['Annual Rate of Change of Migrant Stock'].aggregate('first').unstack()
table5_female

In [ ]:
table05_Continent_or_region_female = table5_female.loc[[1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], :]
table05_Continent_or_region_female

In [ ]:
clean_table5_female = table5_female.drop([1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,106,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], inplace=False)
clean_table5_female

In [ ]:
missing_val = [".."]
missing = clean_table5_female.isin(missing_val)
clean_table5_female.mask(missing, "Missing_value").head(50)

#########Table_06#########

In [ ]:
table_06

In [ ]:
table_6_1 = table_06.drop(table_06.index[0:15])
table_6_1 #Drop 0-15 rows

In [ ]:
table_6_1.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)','1990 Estimated refugee stock at mid-year both sexes',
                  '1995 Estimated refugee stock at mid-year both sexes','2000 1995 Estimated refugee stock at mid-year both sexes',
                  '2005 1995 Estimated refugee stock at mid-year both sexes',
                  '2010 1995 Estimated refugee stock at mid-year both sexes','2015 1995 Estimated refugee stock at mid-year both sexes',
                  '1990 Refugees as a percentage of the international migrant stock',
                  '1995 Refugees as a percentage of the international migrant stock',
                  '2000 Refugees as a percentage of the international migrant stock',
                  '2005 Refugees as a percentage of the international migrant stock',
                  '2010 Refugees as a percentage of the international migrant stock',
                  '2015 Refugees as a percentage of the international migrant stock',
                  '1990-1995 Annual rate of change of the refugee stock',
                  '1995-2000 Annual rate of change of the refugee stocke',
                  '2000-2005 Annual rate of change of the refugee stock',
                  '2005-2010 Annual rate of change of the refugee stock',
                  '2010-2015 Annual rate of change of the refugee stock']

In [ ]:
table_6_1

In [ ]:
tidy_table_06 = table_6_1.melt(id_vars=["Order","Name of Country","Notes","Country Code","Type of Data(a)"],var_name="Years",value_name="Refugee Stocks")
tidy_table_06

In [ ]:
tidy_table_06[['Year', 'Annual_Rate_of_Change']] = tidy_table_06['Years'].str.split(' ', 1, expand=True)
tidy_table_06.drop("Years",axis=1)

In [ ]:
tidy_table_06["Gender"] = tidy_table_06.Annual_Rate_of_Change.apply(lambda x: "Both Sexes" if "both sexes" in x else "NaN")
table_06_1 = tidy_table_06.drop("Annual_Rate_of_Change",axis=1)
table_06_1_1 = table_06_1.drop("Years",axis=1)

In [ ]:
#Split the data in different table, start fromn row 1590, tidy_table_1_Both_sexes = Migrant Stock for Both Sexes
split_point = 1590
print(split_point)
tidy_table_06_Both_sexes = table_06_1_1.iloc[:split_point]
tidy_table_06_Both_sexes

In [ ]:
tidy_table_06_Both_sexes.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)',"Estimated refugee stock at mid-year both sexes","year","Gender"]
tidy_table_6_Both_sexes = tidy_table_06_Both_sexes.drop("Gender",axis=1)
tidy_table_6_Both_sexes

In [ ]:
table6_Bothsexes = tidy_table_6_Both_sexes.reset_index().groupby(['Order','Name of Country','Country Code','year'])['Estimated refugee stock at mid-year both sexes'].aggregate('first').unstack()

In [ ]:
table06_Continent_or_region_BothSexes = table6_Bothsexes.loc[[1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], :]
table06_Continent_or_region_BothSexes

In [ ]:
clean_table6_Bothsexes = table6_Bothsexes.drop([1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,106,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], inplace=False)
clean_table6_Bothsexes

In [ ]:
missing_val = [".."]
missing = clean_table6_Bothsexes.isin(missing_val)
clean_table6_Bothsexes.mask(missing, "Missing_value").head(50)

In [ ]:
#Split the data in different table, start fromn row 1590, tidy_table_1_male = Migrant Stock for Male
split_point = 1590
split_male_female = 3180
tidy_table_06_Male = table_06_1_1.iloc[split_point:split_male_female]
tidy_table_06_Male

In [ ]:
tidy_table_06_Male.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)',"Refugees as a percentage of the international migrant stock","year","Gender"]
tidy_table_6_Male = tidy_table_06_Male.drop("Gender",axis=1)
tidy_table_6_Male

In [ ]:
table6_male = tidy_table_6_Male.reset_index().groupby(['Order','Name of Country','Country Code','year'])['Refugees as a percentage of the international migrant stock'].aggregate('first').unstack()

In [ ]:
table06_Continent_or_region_male = table6_male.loc[[1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], :]
table06_Continent_or_region_male

In [ ]:
clean_table6_male = table6_male.drop([1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,106,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], inplace=False)
clean_table6_male

In [ ]:
missing_val = [".."]
missing = clean_table6_male.isin(missing_val)
clean_table6_male.mask(missing, "Missing_value").head(50)

In [ ]:
#Split the data in different table, start fromn row 3180, tidy_table_1_female = Migrant Stock for female
split_male_female = 3180
tidy_table_6_female = table_06_1_1.iloc[split_male_female:]
tidy_table_6_female

In [ ]:
tidy_table_6_female.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)',"Annual rate of change of the refugee stock","year","Gender"]
tidy_table_6_female = tidy_table_6_female.drop("Gender",axis=1)
tidy_table_6_female

In [ ]:
table6_female = tidy_table_6_female.reset_index().groupby(['Order','Name of Country','Country Code','year'])['Annual rate of change of the refugee stock'].aggregate('first').unstack()
table6_female

In [ ]:
table06_Continent_or_region_female = table6_female.loc[[1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], :]
table06_Continent_or_region_female

In [ ]:
clean_table6_female = table6_female.drop([1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,106,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], inplace=False)
clean_table6_female

In [ ]:
missing_val = [".."]
missing = clean_table6_female.isin(missing_val)
clean_table6_female.mask(missing, "Missing_value").head(50)